*{
    padding: 0;
    margin: 0;
}
    body{
        position: absolute;
        width: 100%;
        height: 100%;
}
    .cabecalho{
        height: 40px;
        background-color: #636b6f;
}
    .principal{
        height: 90%;
}
    .menu{
        float: left;
        width: 150px;
        height: 100%;
        background-color: #7fff00;
}
    .conteudo{
        width: 100%;
        height: 100%;
        background-color: bisque;
}
    .rodape{
        height: 30px;
        background-color: aqua;
}
