.btnformout {
    background-color: #ffffff;
    color: #495057;
    border: 1px solid #4CAF50;
}

.btnformout:hover {
    background-color: #4CAF50;
    color: #ffffff;
    border: 1px solid #4CAF50;
}

.btnformout-active {
    color: #ffffff;
    background-color: #495057;
    border: 1px solid #495057;
}

#sub_menu_produtos, #sub_menu_vendas {
    background-color: #dddddd;
}
